name: Eleventy Build

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'

      - name: Install dependencies & build
        run: | 
          npm install -g yarn
          yarn install
          yarn run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./_site
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          
